.profile {
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    margin: 47px auto 36px;
}

@media screen and (max-width: 880px) {
    .profile {
        margin: 38px auto 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 637px) {
    .profile {
        max-width: 282px;
        padding: 0;
    }
}