.popup__container {

    
    background-color: white;
    margin: 195px auto 0;
    position: relative;

    padding: 34px 36px 37px 36px;
    border-radius: 10px;

    
}

@media screen and (max-width: 880px) {
    .popup__container {
        max-width: 282px;
        margin-top: 123px;
        padding: 25px 22px;
    }
}